#
# Nightly, we do a full build and run a more complex set of end to end
# tests that take longer to run (and may require secrets like S3 credentials).
#
name: Nightly Tests

on:
  schedule:
    - cron: '30 3 * * *'

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '8.0.212'
      - name: Build and test
        run: ./gradlew build
      - uses: actions/setup-go@v1
        with:
          go-version: '1.13.5'
      - name: End to End tests
        run: |
          uname -a
          ./go test -v ./test/endtoend
        env:
          S3_LOCATION: ${{ secrets.S3_TEST_LOCATION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
